.about-container {
    margin:50px;
    flex-direction: column;
    align-items: center;
}
.profile-pic{
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin: 0 20px;
}

.about-desc > * {
    text-align: center;
}

.about-desc > h3{
    font-family: 'Mont Bold';
}
.about-desc > p{
    font-family: 'Mont 500';
    color: var(--clr4);
}

.social {
    width:30px;
    height:30px;
    margin: 0 10px;
}

