.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    /* gap:10px; */
    margin-top: 10px;
    background-color: var(--clr5);
   /* height:900px; */
   padding:20px;
   min-width: 410px;
}

.card-img{
    width:100px;
    height:100px;
}

.card-img:hover{
    border: 5px var(--clr1) solid;
    border-radius: 4px;
}

.btn-img {
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.btn-img:hover{
    transform: scale(1.1,1.1);
}



.search-bar , .search-bar:active, .search-bar:focus, .search-bar:hover{
    width:400px;
    height:30px;
    border: 0;
    border-bottom:  2px solid black;
    margin: 10px 10px auto 10px ;
    outline:0;

}