.control-box{
    width:70%;
}

.control-box {
    width: auto;
    margin: 1.625em;
}

.btn {
    width: 40px;
    height: 40px;
    border-width: 2px;
}

.btn img {
    width: 20px;
    height: 20px;
}

.editor-container{
    background-color: var(--clr5) ;
    flex-direction: column;
    align-items: center;
}

.canvas-container {
    width: 50vw;
    /* overflow:hidden; */
    margin:20px;
}

.sticker:hover{
    cursor: pointer;
}

.main-content .control-box .text-line {
    height: 50px;
    margin-top:20px;
}

.main-content .control-box {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-auto-flow:column;
    grid-template-areas: 
        "text       text        text      text      text"
        "add        del         plus      minus     switch"
        "down       up          left      center    right"
        "color      stroke      font      font      font"
        "stickers       stickers        stickers      stickers      stickers"
        ".  facebook          download      save      .";
    gap:0.625rem;
    align-content: center;
    justify-content: space-between;
}

.text-line{
    grid-area: text;
    margin-inline-end: 1.25rem;
    border-radius: 0.625rem;
    border: 2px solid black;
    padding: 0.625rem;
    margin-block-end: 20px;
}
.add-line {
    grid-area: add;
}
.del-line{
    grid-area: del;
}
.increase-text{
    grid-area:  plus
}
.decrease-text{
    grid-area: minus;
}
.switch-lines{
    grid-area: switch;
}
.move-down{
    grid-area: down;
}

.move-up {
    grid-area: up;
}
.align-left {
    grid-area: left;
}
.align-right {
    grid-area: right;
}
.align-center {
    grid-area: center;
}

.btn.choose-font{
    grid-area: font;
    width: auto;
    /* margin-inline-end: 20px; */
}


.stickers-container{
    grid-area: stickers;
    border: black 2px solid;
    border-radius: 0.625rem;
    margin-inline-end: 1.25rem;
    text-align: center;
}

.btn.btn-textcolor{
    grid-area:color;
    height:0.7;
    padding:0.5em;
}

.btn.btn-strokecolor {
    grid-area:stroke;
    height:0.7;
    padding:0.5em;
}


.text-color, .stroke-color{
    visibility: hidden;
}

.sticker{
    font-size: 2em;
}

.download {
    grid-area: download;
}

.facebook{
    grid-area: facebook;
}
.save{
    grid-area: save;
}