@font-face {
    font-family: 'Mont 400';
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Mont 500';
    src: url('../../fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Mont Bold';
    src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
}